@media screen and (max-width: 414px) { 
    .content {
        margin-left: 55px;
    }

    .err-wd {
        text-align: center;
    }
}

@media screen and (max-width: 480px) { 
    .content {
        margin-left: 55px;
    }

    .err-wd {
        font-size: 25px;
    }
}

@media screen and (max-width: 768px) {

    .content {
        width: 100%;
        margin-right: 55px;
    }

    .err-wd {
        font-size: 100px;
    }
}

@media screen and (max-width: 1024px) {
    .content {
        width: 100%;
    }
}

@media screen and (max-width: 1280px) {
    .content {
        width: 100%;
    }
}
